<div class="container">
    <div class="content">
        <mat-card class="todo-card">
            <h2 class="todo-header-content">
                <span class="todo-header-title">Todo detail</span>
                <span class="todo-header-actions">
                    <button mat-mini-fab color="primary" class="button-action" (click)="goBackTodoList()" matTooltip="Go to list of todos" matTooltipPosition="left">
                        <mat-icon aria-hidden="false" aria-label="add">list</mat-icon>
                    </button>
                </span>
            </h2>
        </mat-card>

        <mat-card class="todo-card" style="background-color: beige;"  *ngIf="(todoState$ | async)?.todos.length === 1">
            <mat-card-content *ngIf="(todoState$ | async)?.todos[0]; else loading">
                <mat-tab-group>
                    <mat-tab label="Title"> {{ (todoState$ | async)?.todos[0].title }} </mat-tab>
                    <mat-tab label="Description" [disabled]="!(todoState$ | async)?.todos[0].description"> {{(todoState$ | async)?.todos[0].description }} </mat-tab>
                    <mat-tab label="Status"> {{ (todoState$ | async)?.todos[0].status }} </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>

        <ng-template #loading>
            <mat-card-content style="color: green; font-weight: bold;">
                loading...
            </mat-card-content>
        </ng-template>


    </div>
</div>