<div class="container">
  <div class="content">
    <mat-card class="todo-card">
      <h2 class="todo-header-content">
        <span class="todo-header-title">Todo list</span>
        <span class="todo-header-actions">
          <button mat-mini-fab color="primary" class="button-action" (click)="showTodoForm()" matTooltip="Add a todo"  matTooltipPosition="left">
            <mat-icon aria-hidden="false" aria-label="add">add_cicle</mat-icon>
          </button>
        </span>
      </h2>
    </mat-card>

    <mat-card class="todo-card" *ngIf="showFormTodo">
      <form [formGroup]="todoForm" #formDirective="ngForm" (ngSubmit)="createTodo(formDirective)">
        <mat-card-content>
          <div class="example-container">

            <mat-form-field>
              <input matInput placeholder="Title" formControlName="title" required>
              <mat-error *ngIf="title.hasError('minlength')">
                Minimun 5 caractéres
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions class="todo-header-content">
          <span class="fill-space"></span>
          <span><button mat-raised-button color="primary" type="submit">submit</button></span>
        </mat-card-actions>
      </form>
    </mat-card>

    <ng-container *ngIf="(todoState$ | async)?.todos.length > 0;  else loading;">
      <mat-card class="todo-card" *ngFor="let todo of  (todoState$ | async)?.todos" style="background-color: beige;">
        <mat-card-content>
          <div class="todo-content">
            <span class="todo-checkbox">
              <mat-checkbox [checked]="todo.status === 'done'" (change)="chechedTodo($event, todo)" [ngClass]="{'text-through': todo.status === 'done'}" class="truncate-cell">{{todo.title | truncate:50}}</mat-checkbox>
            </span>
            <span class="todo-actions">
              <button mat-mini-fab color="secondary" class="button-action">
                <mat-icon aria-hidden="false" aria-label="edit" (click)="todoDetail(todo)" matTooltip="Edit detail of this todo id: {{todo.id}}"  matTooltipPosition="above">edit</mat-icon>
              </button>
              <button mat-mini-fab color="secondary" class="button-action">
                <mat-icon aria-hidden="false" aria-label="delete" (click)="deleteTodo(todo)" matTooltip="Delete this todo with id: {{todo.id}}"  matTooltipPosition="above">delete</mat-icon>
              </button>
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-template #loading>
      <mat-card style="background-color: beige;">
        <mat-card-content style="color: green; font-weight: bold;">
          loading...
        </mat-card-content>
      </mat-card>
    </ng-template>

  </div>
</div>
